.container {
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 250px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 70px; */
    gap: 20px 15px;
}